//Source: Colores
////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// Colors: Grises y negro
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$variable-name: color_gray_PDVSA;
$color_gray_PDVSA: red;

$variable-name: color_gray_medium;
$color_gray_medium: #878787;

$variable-name: color_gray_dark;
$color_gray_dark: #414140;

$variable-name: color_gray_board;
$color_gray_board: #3c3b3f;

// Colors: Blanco y pálidos
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$variable-name: color_white_PDVSA;
$color_white_PDVSA: #ffffff;

$variable-name: color_palid_cream;
$color_palid_cream: #fbf9ef;

// Colors: Rojos
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$variable-name: color_red_PDVSA;
$color_red_PDVSA: #ff0000;

$variable-name: color_red_PDVSA_medium;
$color_red_PDVSA_medium: #6E0000;

// Colors: verdes
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$variable-name: color_green_light;
$color_green_light: #C4EDC2;
