// Source: footer general PDVSA
////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// Funcion: mixin pie de pagina
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@mixin footer_properties ($footer_bottom, $footer_height){
  background-color:  white;
  position: fixed;
  bottom:   $footer_bottom;
  height:   $footer_height;
}

// Funcion: mixin imagenes (logos oficiales)
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@mixin images_properties ($images_left, $images_top) {
    left: $images_left;
    position: absolute;
    top: $images_top;
}

// Style: pie de página contenedor
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.footer_main {
  .footer_container {
    @include footer_properties(0,50px);
    background-bottom: 0;
    width: 100%;

    @extend .fonts_footer_main;
  }

 // Style: pie de página copyleft
 ////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  .footer_copyrights  {
    @include footer_properties(40px, 0px);
    left: 15px;
  }

  // Style: pie de página herramientas usadas
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  .footer_tools {
    @include footer_properties(-10px, 50px);
    right: 15px;
  }
}


.logo_PDVSA_footer {
    @include images_properties (15px, 0.5px);
}

.link_footer {
        color: #FF0000;
        decoration: none;

text-shadow: none;

        font-size: 1.1em;


}
