



<!--
<script src="../../static/javascripts/zoom-0.3/zoom.js"></script><script src="../../static/javascripts/fokus-0.5/fokus.js"></script>
-->
<link href="../../static/javascripts/impress.js-master/css/impress-demo.css" rel="stylesheet" />
<link rel="stylesheet" href="../../static/stylesheets/styles.css">
<link rel="stylesheet" href="../../static/javascripts/bootstrap-3.3.2/css/bootstrap.css">
<link href="../../static/fonts/font-awesome-4.3.0/font-awesome.min.css"/>
<link href="../../static/javascripts/froala-1.2.25/css/froala-editor.css"/>
<link href="../../static/javascripts/froala-1.2.25/css/froala-style.min.css"/>


<script src="../../static/javascripts/jquery-1.11.2/jquery-1.11.2.min.js"></script>
<script src="../../static/javascripts/bootstrap-3.3.2/js/bootstrap.js"></script>
<script src="../../static/javascripts/angular-1.3.12/angular.min.js"></script>
<script src="../../static/javascripts/chartjs/Chart.js"></script>
<script src="../../static/javascripts/impress.js-master/js/impress.js"></script>



<!--[if lt IE 9]>
<script src="{{STATIC_URL}}javascripts/shiv-3.7.2/html5shiv.js" %}"></script>
<script src="{{STATIC_URL}}javascripts/shiv-3.7.2/html5shiv-printshiv.js" %}"></script>
<![endif]-->


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID.
<script>
(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
  function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
  e=o.createElement(i);r=o.getElementsByTagName(i)[0];
  e.src='//www.google-analytics.com/analytics.js';
  r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
  ga('create','UA-XXXXX-X');ga('send','pageview');
  </script>
-->
