

<div class="footer_container">
  <div class="footer_copyrights">
    Bajo licencia GNU GPLv3.
    <br>
    PDVSA CVP. 2014
  </div>
  <div class="footer_tools">
    <a href="http://www.atom.io/" target="_blank">
      <img src="{% static "images/icon-atom.png" %}" alt="Atom Editor">
    </a>
    <a href="http://www.djangoproject.com/" target="_blank">
      <img src="{% static "images/icon-django.jpg" %}" alt="Django">
    </a>
    <a href="http://www.w3.org/TR/html5/" target="_blank">
      <img src="{% static "images/icon-html5.png" %}" alt="HTML5">
    </a>
    <a href="http://www.postgresql.org.es/" target="_blank">
      <img src="{% static "images/icon-postgre.gif" %}" alt="PostgreSQL">
    </a>
    <a href="http://www.ubuntu.com/" target="_blank">
      <img src="{% static "images/icon-ubuntu.png" %}" alt="Ubuntu 14.04">
    </a>
  </div>
</div>
