/*
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
*/

@font-face {
    font-family: HelveticaCondensedThin;
    src: url("../fonts/HelveticaNeueLTStd-LtCn.otf") format("opentype");
}

@font-face {
    font-family: HelveticaCondensedMedium;
    font-weight: bold;
    src: url("../fonts/HelveticaNeueLTStd-MdCn.otf") format("opentype");
}

.texto1 {
  font-family: "HelveticaCondensedMedium";

}

.texto2 {
  font-family: "HelveticaCondensedMedium";
  color: #7f7f7f;
}
.miLink {
color: #7f7f7f;
text-decoration: none;
font-family: "HelveticaCondensedMedium";
}

.miLink2 {
color: #e5e5e5;
text-decoration: none;
font-family: "HelveticaCondensedMedium";
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: left;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}





.form input {
  font-family: "HelveticaCondensedMedium";
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 17px;
}
.form button {
  font-family: "HelveticaCondensedMedium";
  text-transform: uppercase;
  outline: 0;
  background: #8c8c8c;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 16px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #777777;
}
.form .message {
  margin: 15px 0 0;
  color: #a8a8a8;
  font-size: 16px;
  font-family: "HelveticaCondensedMedium";
}
.form .message a {
  color: #353535;
  text-decoration: none;
  font-family: "HelveticaCondensedMedium";
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
  font-family: "HelveticaCondensedMedium";
}
.container .info span .fa {
  color: #EF3B3A;
}
body {

  /* fallback for old browsers */
  background: url('../images/bg.jpg') no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
  /*background: #76b852;
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/

}
