.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
    text-align: center;
    background-color: white;
    border: 1px solid #ddd;
}

.defaultTextBox {
    padding: 0;
    height: 20px;
    width: 80px;
    position: relative;
    left: 0;
    outline: none;
    border: 0px solid #cdcdcd;

    background-color: #e8e8e8;
    font-size: 17px;
    text-align: center;
}

.bgimg {
    background-image: url('../images/divbg.png');
}

.responsive {
  width: 100%;
  height: auto;
}

.headerUCV {
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  background-color: white;

}

.logosPadding{
	  /*
    padding-right: 10px;
    padding-left: 10px;
    */
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: -1px;
    padding-right: 10px;
}

.fontTitle {
	color: #ffa01c;
}

.fontDefinition {
	color: #dbdbdb;
}



.alignLeft {
	margin: 20px 0;
  	line-height: 1.3;
  	text-align: left;
}
