.headerUCV {
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  background-color: white;

}

.logosPadding{
	  /* 
    padding-right: 10px;
    padding-left: 10px;
    */
    padding-bottom: 5px;
    padding-top: 5px;
}

.fontTitle {
	color: #ffa01c;
}

.fontDefinition {
	color: #dbdbdb;
}



.alignLeft {
	margin: 20px 0;
  	line-height: 1.3;
  	text-align: left;
}
