//// Source: Pantalla intro - titulos
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@import "commons/bootstrap-scss/bootstrap";

// Funcion: mixin pie de pagina
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@mixin intro_login_properties ($intro_background_color, $intro_border, $intro_float, $intro_minHeight, $intro_top) {
  background-color: $intro_background_color;
  border: $intro_border;
  min-height: $intro_minHeight;
  top:$intro_top;
}

// Style: Titulo Vertical
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.intro_vertical_content {
  bottom: 5%;
  padding: 15px;
  position: absolute;
}

// Style: contenedor principal intro
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.intro_main {
  @include intro_login_properties ($color_white_PDVSA, 0px, left, 50px, 100px);
  @extend .container-fluid;
  @extend .col-xs-12;
  @extend .col-md-12;
  @extend .col-lg-12;
  padding: 0px;
  margin-top: 0px;
  top:0px;
  width: 100%;
  position: relative;
}

// Style: principal intro - izquierda superior
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  .upper_left {
    @extend .container-fluid;
    @extend .col-xs-12;
    @extend .col-md-6;
    @extend .col-lg-6;
    @include intro_login_properties ($color_gray_board, 0px, left, 275px, 0px);
    background-image: url("../images/bg-blackboard.jpg");
  }

// Style: principal intro - derecha superior
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  .upper_right {
    @extend .col-xs-12;
    @extend .col-md-6;
    @extend .col-lg-6;
    @extend .fonts_contents;
    @include intro_login_properties ($color_green_light, 0px, right, 275px, 0px);
    padding-bottom: 38px;
    padding-top: 38px;
}

// Style: principal intro - izquierda abajo
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  .bottom_left {
    @extend .col-xs-12;
    @extend .col-md-6;
    @extend .col-lg-6;
    @include intro_login_properties ($color_white_PDVSA, 0px, left, 0px, 0px);
    clear: both;
    padding-top: 1px;
  }

// Style: principal intro - derecha abajo
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  .bottom_right {
    @extend .col-xs-12;
    @extend .col-md-6;
    @extend .col-lg-6;
    @include intro_login_properties ($color_gray_PDVSA, 0px, left, 345px, 0px);

  }
