
BODY        {font-family:    Arial, helvetica, sans-serif;
             background:   #FFFFFF  ; 
             margin-left:       5%; 
             margin-right:      15%;  
             font-size:        11pt; }


H1          {display:          block;
             font-size:        16pt;
             font-family:      Arial, helvetica, sans-serif;
             text-align:        center;
             color: 		#002C57; }

H2	    {display:          block;
             color:            #004080;
             font-size:        14pt;
             font-family:      Arial, helvetica, sans-serif; }

H3	    {display:          block;
             color:            #004080;
             font-size:        13pt;
             font-family:      Arial, helvetica, sans-serif; }

H4          {margin-right:      1%;  
             margin-top:        0; 
             margin-bottom:     0; 
             color:            #004080; }

H5          {margin-right:      1%; 
             margin-top:        0; 
             margin-bottom:     0;
             text-align:        center; }

H6          {margin-top:        0; 
             margin-bottom:     0;
             margin-right:      5%; 
             font-size:        10pt;
             font-family:      Arial, helvetica, sans-serif;}


TD      {font-size:         10pt;
         font-family:      Arial, helvetica, sans-serif; }

UL          {list-style-type:   disc; }

SUP         {font-size:        8pt;
             font-family:      Arial, helvetica, sans-serif;}

